<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1><%= data %> people felt <%= mood %></h1>
    <a href="/manager">Back to Manager Dashboard</a>
</body>
</html>